@charset "UTF-8";
@font-face {
  src: url(../recursos-img/BELARAK.ttf);
  font-family: "barak"; }

* {
  margin: 0;
  padding: 0; }

h1 {
  font-family: barak; }

@keyframes cobra-eagle {
  0% {
    background-color: black;
    color: yellow;
    border: yellow solid 4px; }
  50% {
    background-color: red;
    color: black;
    border: black solid 4px; }
  100% {
    background-color: black;
    color: yellow;
    border: yellow solid 4px; } }

@keyframes miyagi-cobra {
  0% {
    background-color: white;
    color: orange;
    border: orange solid 4px; }
  50% {
    background-color: black;
    color: yellow;
    border: yellow solid 4px; }
  100% {
    background-color: white;
    color: orange;
    border: orange solid 4px; } }

@keyframes cobra-miyagi {
  0% {
    background-color: black;
    color: yellow;
    border: yellow solid 4px; }
  50% {
    background-color: white;
    color: orange;
    border: orange solid 4px; }
  100% {
    background-color: black;
    color: yellow;
    border: yellow solid 4px; } }

.nav {
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: yellow; }
  .nav .section-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav img {
    height: 100px;
    width: 100px;
    margin: 10px; }
  .nav div {
    flex-wrap: wrap;
    justify-content: right; }
  .nav ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    flex-wrap: wrap; }
    .nav ul li {
      width: 88px;
      height: 30px;
      background-color: #ffc800;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px; }
      .nav ul li:hover {
        background-color: #ffa6005d; }
    .nav ul a {
      color: aliceblue;
      text-decoration: none;
      font-size: 15px; }
      .nav ul a:hover {
        font-size: 25px;
        color: black;
        font-family: "barak"; }

@media (max-width: 600px) {
  .nav {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav .section-nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .nav .section-nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap; }
        .nav .section-nav ul li {
          width: 50px;
          height: 15px;
          background-color: yellow;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px; }
          .nav .section-nav ul li:hover {
            background-color: #ffa6005d; }
        .nav .section-nav ul a {
          color: black;
          text-decoration: none;
          font-size: 9px;
          font-family: "barak"; }
          .nav .section-nav ul a:hover {
            font-size: 25px;
            color: black;
            font-family: "barak"; } }

body {
  background-image: linear-gradient(black, #00000083, black);
  display: block;
  justify-content: center; }
  body .navbar-toggler {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; }
  body .header-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body .header-index .h1 {
      color: white;
      margin: 50px 0 50px 0;
      text-align: center; }
    body .header-index .img-principal-index {
      width: 80%;
      height: 600px;
      overflow: hidden;
      margin-top: 100px; }
      body .header-index .img-principal-index .img-suplente {
        width: 80%;
        height: 600px;
        overflow: hidden;
        margin-top: 100px; }

.main-index {
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-index .section-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 90%;
    height: 600px;
    background-color: #0000002a; }
    .main-index .section-index .index-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 500px;
      background-color: #000000c4;
      color: yellow;
      font-family: sans-serif;
      padding: 16px;
      margin: 0px; }

@media (max-width: 600px) {
  .img-principal-index {
    width: 80%;
    height: 600px;
    overflow: hidden;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .img-principal-index .imagen-principal {
      display: none; } }

@media (max-width: 600px) {
  .index-mobile {
    width: 85%;
    height: 600px;
    background-color: #000000c4;
    color: yellow;
    font-family: sans-serif;
    overflow: scroll; } }

.header-all-valley .navbar {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: white 9px solid; }
  .header-all-valley .navbar img {
    height: 100px;
    width: 100px;
    margin: 10px; }
  .header-all-valley .navbar div {
    justify-content: right; }
  .header-all-valley .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; }
    .header-all-valley .navbar ul li {
      width: 88px;
      height: 30px;
      background-color: orange;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px; }
      .header-all-valley .navbar ul li:hover {
        background-color: #ffa6005d; }
    .header-all-valley .navbar ul a {
      color: aliceblue;
      text-decoration: none;
      font-size: 15px; }
      .header-all-valley .navbar ul a:hover {
        font-size: 25px;
        color: black;
        font-family: "barak"; }

.header-all-valley .h1 {
  color: white;
  margin: 50px 0 50px 0;
  text-align: center; }

.header-all-valley .img-all-valley {
  background-color: #000000c4;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-all-valley .img-all-valley img {
    width: 500px;
    height: 250px;
    margin-right: 20px;
    margin-left: 20px; }
  .header-all-valley .img-all-valley p {
    color: white;
    font-size: 20px; }

.main-all-valley {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 75px;
  height: 200px;
  margin: 15px; }
  .main-all-valley .videos {
    background-color: #000000c4;
    height: 175px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .main-all-valley .videos video {
      width: 200px;
      height: 150px;
      margin: 20px; }
  .main-all-valley img {
    border: 10px red solid;
    height: 100px;
    width: 200px; }

.div-torneo {
  display: flex;
  justify-content: center; }

.campeones-all-valley {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  flex-wrap: wrap; }
  .campeones-all-valley .ul-torneo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .campeones-all-valley .ul-torneo h2 {
      font-family: 'barak';
      color: white;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px; }
      .campeones-all-valley .ul-torneo h2:hover {
        font-size: 50px; }
    .campeones-all-valley .ul-torneo .li-cobra-kai {
      background-color: black;
      border: 4px solid yellow;
      width: 1100px;
      color: yellow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: 20px; }
      .campeones-all-valley .ul-torneo .li-cobra-kai h3 {
        font-family: "barak";
        margin-left: 15px;
        margin-right: 310px; }
      .campeones-all-valley .ul-torneo .li-cobra-kai img {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-left: 310px; }
    .campeones-all-valley .ul-torneo .li-miyagi-do {
      background-color: white;
      border: 4px solid orange;
      color: orange;
      width: 1100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: 20px; }
      .campeones-all-valley .ul-torneo .li-miyagi-do h3 {
        font-family: "barak";
        margin-left: 15px;
        margin-right: 310px; }
      .campeones-all-valley .ul-torneo .li-miyagi-do img {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-left: 310px; }
    .campeones-all-valley .ul-torneo .li-xander {
      background-color: blue;
      border: 4px solid red;
      width: 1100px;
      color: red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: 20px; }
      .campeones-all-valley .ul-torneo .li-xander h3 {
        font-family: "barak";
        margin-left: 15px;
        margin-right: 310px; }
      .campeones-all-valley .ul-torneo .li-xander img {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-left: 310px; }

@media (max-width: 767px) {
  .header-all-valley {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header-all-valley .img-all-valley {
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px; }
      .header-all-valley .img-all-valley img {
        width: 90%;
        height: 200px;
        padding: 0;
        margin: 0; }
      .header-all-valley .img-all-valley div {
        display: none; }
  .main-all-valley {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
    height: 1800px;
    margin: 15px; }
    .main-all-valley .videos {
      background-color: #000000c4;
      height: 1600px;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main-all-valley .videos video {
        width: 400px;
        height: 300px;
        margin: 20px; }
  .div-torneo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .campeones-all-valley {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap; }
    .campeones-all-valley .ul-torneo {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .campeones-all-valley .ul-torneo .li-cobra-kai {
        background-color: black;
        border: 4px solid yellow;
        width: 90%;
        color: yellow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 20px; }
        .campeones-all-valley .ul-torneo .li-cobra-kai h3 {
          font-family: "barak";
          margin-left: 15px;
          margin-right: 10px; }
        .campeones-all-valley .ul-torneo .li-cobra-kai img {
          width: 100px;
          height: 100px;
          margin-right: 15px;
          margin-left: 100px; }
        .campeones-all-valley .ul-torneo .li-cobra-kai p {
          display: none; }
      .campeones-all-valley .ul-torneo .li-miyagi-do {
        background-color: white;
        border: 4px solid orange;
        width: 90%;
        color: orange;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 20px; }
        .campeones-all-valley .ul-torneo .li-miyagi-do h3 {
          font-family: "barak";
          margin-left: 15px;
          margin-right: 10px; }
        .campeones-all-valley .ul-torneo .li-miyagi-do img {
          width: 100px;
          height: 100px;
          margin-right: 15px;
          margin-left: 100px; }
        .campeones-all-valley .ul-torneo .li-miyagi-do p {
          display: none; }
      .campeones-all-valley .ul-torneo .li-xander {
        background-color: blue;
        border: 4px solid red;
        width: 90%;
        color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 20px; }
        .campeones-all-valley .ul-torneo .li-xander h3 {
          font-family: "barak";
          margin-left: 15px;
          margin-right: 10px; }
        .campeones-all-valley .ul-torneo .li-xander img {
          width: 100px;
          height: 100px;
          margin-right: 15px;
          margin-left: 100px; }
        .campeones-all-valley .ul-torneo .li-xander p {
          display: none; } }

.h1 {
  color: white;
  margin: 50px 0 50px 0;
  text-align: center; }

.main-personajes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .main-personajes .grilla-personajes {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 15px;
    justify-content: center;
    text-align: center; }
    .main-personajes .grilla-personajes .personajes-section {
      width: 100%;
      max-width: 400px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden; }
      .main-personajes .grilla-personajes .personajes-section img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        margin-top: 13px; }
      .main-personajes .grilla-personajes .personajes-section .accordion-button {
        width: 100%;
        text-align: left;
        padding: 10px;
        background-color: #f1f1f1;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        font-weight: bold; }
    .main-personajes .grilla-personajes section {
      margin-top: 15px;
      margin-right: 15px;
      margin-bottom: 200px;
      margin-left: 15px;
      width: 200px;
      height: 250px; }
      .main-personajes .grilla-personajes section .eagle-fang-theme,
      .main-personajes .grilla-personajes section .cobrakai-theme,
      .main-personajes .grilla-personajes section .miyagi-do-theme,
      .main-personajes .grilla-personajes section .nothing {
        width: 200px;
        height: 200px;
        margin: 15px;
        padding: 15px; }
      .main-personajes .grilla-personajes section img {
        width: 100px;
        height: 100px;
        margin-top: 13px; }

.eagle-fang-theme {
  color: black;
  background-color: red;
  border: 3px solid black;
  width: 200px;
  height: 200px;
  margin: 15px;
  padding: 15px;
  animation: cobra-eagle infinite 9s; }

.cobrakai-theme {
  color: yellow;
  background-color: black;
  border: 3px solid yellow;
  width: 200px;
  height: 200px;
  margin: 15px;
  padding: 15px; }

.miyagi-do-theme {
  background-color: white;
  color: orange;
  border: 3px solid orange;
  width: 200px;
  height: 200px;
  margin: 15px;
  padding: 15px; }

.nothing {
  background-color: white;
  border: solid 3px black;
  color: black;
  margin: 15px;
  padding: 15px; }

.miyagi-cobra-theme {
  background-color: white;
  color: orange;
  border: 3px solid orange;
  width: 200px;
  height: 200px;
  margin: 15px;
  padding: 15px;
  animation: miyagi-cobra infinite 9s; }

.cobra-miyagi-theme {
  background-color: white;
  color: orange;
  border: 3px solid orange;
  width: 200px;
  height: 200px;
  margin: 15px;
  padding: 15px;
  animation: cobra-miyagi infinite 9s; }

@media (min-width: 768px) {
  .grilla-personajes {
    justify-content: space-between; }
  .personaje-section {
    width: 48%; } }

/* Personajes */
.main-dojos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .main-dojos .h1 {
    color: white;
    margin: 50px 0 50px 0;
    text-align: center; }
  .main-dojos section {
    width: 100%;
    margin-bottom: 20px; }
  .main-dojos .section-cobrakai-dojo {
    width: 30%;
    height: 1000px;
    margin: 20px;
    text-align: center;
    background-color: black;
    color: yellow;
    border: yellow 4px solid;
    display: block;
    justify-content: end; }
    .main-dojos .section-cobrakai-dojo img {
      width: 150px;
      height: 150px;
      margin-top: 50px;
      margin-bottom: 150px; }
  .main-dojos h3 {
    margin-top: 32px; }
  .main-dojos li {
    list-style: none; }
  .main-dojos .section-miyagi-do-dojo {
    width: 30%;
    height: 1000px;
    margin: 20px;
    text-align: center;
    background-color: white;
    color: orange;
    border: orange 4px solid;
    display: block;
    justify-content: center; }
    .main-dojos .section-miyagi-do-dojo img {
      width: 150px;
      height: 150px;
      margin-top: 50px;
      margin-bottom: 150px; }
    .main-dojos .section-miyagi-do-dojo h3 {
      margin-top: 32px; }
    .main-dojos .section-miyagi-do-dojo li {
      list-style: none; }
  .main-dojos .section-eagle-fang-dojo {
    width: 30%;
    height: 1000px;
    margin: 20px;
    text-align: center;
    background-color: red;
    color: black;
    border: black 4px solid;
    display: block;
    justify-content: center; }
    .main-dojos .section-eagle-fang-dojo img {
      width: 150px;
      height: 150px;
      margin-top: 50px;
      margin-bottom: 150px; }
    .main-dojos .section-eagle-fang-dojo h3 {
      margin-top: 32px; }
    .main-dojos .section-eagle-fang-dojo li {
      list-style: none; }

@media (max-width: 600px) {
  .main-dojos {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-dojos .section-cobrakai-dojo {
      width: 80%;
      height: 1000px;
      margin: 20px;
      text-align: center;
      background-color: black;
      color: yellow;
      border: yellow 4px solid;
      display: block;
      justify-content: center; }
      .main-dojos .section-cobrakai-dojo img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-bottom: 150px; }
    .main-dojos .section-miyagi-do-dojo {
      width: 80%;
      height: 900px;
      margin: 20px;
      text-align: center;
      background-color: white;
      color: orange;
      border: orange 4px solid;
      display: block;
      justify-content: center; }
      .main-dojos .section-miyagi-do-dojo img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-bottom: 150px; }
    .main-dojos .section-eagle-fang-dojo {
      width: 80%;
      height: 800px;
      margin: 20px;
      text-align: center;
      background-color: red;
      color: black;
      border: black 4px solid;
      display: block;
      justify-content: center; }
      .main-dojos .section-eagle-fang-dojo img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-bottom: 150px; } }

.main-rivalidades {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 100px;
  background-color: #000000c4; }
  .main-rivalidades .main-rivalidades-grilla section {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
    background-color: #000000e3; }
    .main-rivalidades .main-rivalidades-grilla section img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      /* Centra la imagen */ }
    .main-rivalidades .main-rivalidades-grilla section h4 {
      color: white; }

@media (max-width: 767px) {
  .main-rivalidades-grilla section {
    width: 100%;
    /* Una columna en pantallas más pequeñas */
    box-sizing: border-box;
    margin-bottom: 20px;
    /* Espacio entre las secciones */ } }

footer {
  background-color: yellow;
  align-items: center;
  text-align: center; }

.img-footer {
  width: 50px;
  height: 50px; }
