.h1 {
    color: white;
    margin: 50px 0 50px 0;
    text-align: center;
}

.main-personajes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .grilla-personajes {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding: 15px;
        justify-content: center;
        text-align: center;

        .personajes-section {
            width: 100%;
            max-width: 400px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                border-bottom: 1px solid #ddd;
                margin-top: 13px;
            }

            .accordion-button {
                width: 100%;
                text-align: left;
                padding: 10px;
                background-color: #f1f1f1;
                cursor: pointer;
                border: none;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        section {
            margin-top: 15px;
            margin-right: 15px;
            margin-bottom: 200px;
            margin-left: 15px;
            width: 200px;
            height: 250px;

            .eagle-fang-theme,
            .cobrakai-theme,
            .miyagi-do-theme,
            .nothing {
                width: 200px;
                height: 200px;
                margin: 15px;
                padding: 15px;
            }

            img {
                width: 100px;
                height: 100px;
                margin-top: 13px;
            }
        }
    }
}


.eagle-fang-theme {
    color: black;
    background-color: red;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding: 15px;
    animation: cobra-eagle infinite 9s;
}

.cobrakai-theme {
    color: yellow;
    background-color: black;
    border: 3px solid yellow;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding: 15px;
}

.miyagi-do-theme {
    background-color: white;
    color: orange;
    border: 3px solid orange;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding: 15px;
}

.nothing {
    background-color: white;
    border: solid 3px black;
    color: black;
    margin: 15px;
    padding: 15px;
}
 .miyagi-cobra-theme{
    background-color: white;
    color: orange;
    border: 3px solid orange;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding: 15px;
    animation: miyagi-cobra infinite 9s;
 }

 .cobra-miyagi-theme{
    background-color: white;
    color: orange;
    border: 3px solid orange;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding: 15px;
    animation: cobra-miyagi infinite 9s;
 }

 @media (min-width: 768px) {
    .grilla-personajes {
        justify-content: space-between;
    }

    .personaje-section {
        width: 48%; 
    }
}

/* Personajes */