.main-dojos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .h1 {
        color: white;
        margin: 50px 0 50px 0;
        text-align: center;
    }

    section {
        width: 100%;
        margin-bottom: 20px;
    }

    .section-cobrakai-dojo {
        width: 30%;
        height: 1000px;
        margin: 20px;
        text-align: center;
        background-color: black;
        color: yellow;
        border: yellow 4px solid;
        display: block;
        justify-content: end;
        img {
            width: 150px;
            height: 150px;
            margin-top: 50px;
            margin-bottom: 150px;
        }
    }
    

    

    h3 {
        margin-top: 32px;
    }

    li {
        list-style: none;
    }


    .section-miyagi-do-dojo {
        width: 30%;
        height: 1000px;
        margin: 20px;
        text-align: center;
        background-color: white;
        color: orange;
        border: orange 4px solid;
        display: block;
        justify-content: center;

        img {
            width: 150px;
            height: 150px;
            margin-top: 50px;
            margin-bottom: 150px;
        }

        h3 {
            margin-top: 32px;
        }

        li {
            list-style: none;
        }
    }

    .section-eagle-fang-dojo {
        width: 30%;
        height: 1000px;
        margin: 20px;
        text-align: center;
        background-color: red;
        color: black;
        border: black 4px solid;
        display: block;
        justify-content: center;

        img {
            width: 150px;
            height: 150px;
            margin-top: 50px;
            margin-bottom: 150px;
        }

        h3 {
            margin-top: 32px;
        }

        li {
            list-style: none;
        }
    }
}


@media(max-width:600px) {
    .main-dojos {
        display: flex;
        justify-content: center;
        align-items: center;
        .section-cobrakai-dojo {
            width: 80%;
            height: 1000px;
            margin: 20px;
            text-align: center;
            background-color: black;
            color: yellow;
            border: yellow 4px solid;
            display: block;
            justify-content: center;
            img {
                width: 150px;
                height: 150px;
                margin-top: 50px;
                margin-bottom: 150px;
            }
        }
        .section-miyagi-do-dojo {
            width: 80%;
            height: 900px;
            margin: 20px;
            text-align: center;
            background-color: white;
            color: orange;
            border: orange 4px solid;
            display: block;
            justify-content: center;
            img {
                width: 150px;
                height: 150px;
                margin-top: 50px;
                margin-bottom: 150px;
            }
        }
        .section-eagle-fang-dojo {
            width: 80%;
            height: 800px;
            margin: 20px;
            text-align: center;
            background-color: red;
            color: black;
            border: black 4px solid;
            display: block;
            justify-content: center;
            img {
                width: 150px;
                height: 150px;
                margin-top: 50px;
                margin-bottom: 150px;
            }
        }
    }
}