.main-dojos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .h1 {
        color: white;
        margin: 50px 0 50px 0;
        text-align: center;
    }

    section {
        width: 100%;
        margin-bottom: 20px;
    }

    .section-cobrakai-dojo {
        width: 30%;
        height: 1000px;
        margin: 20px;
        text-align: center;
        background-color: black;
        color: yellow;
        border: yellow 4px solid;
        display: block;
        justify-content: center;
    }

    img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    h3 {
        margin-top: 32px;
    }

    li {
        list-style: none;
    }


    .section-miyagi-do-dojo {
        width: 30%;
        height: 1000px;
        margin: 20px;
        text-align: center;
        background-color: white;
        color: orange;
        border: orange 4px solid;
        display: block;
        justify-content: center;

        img {
            width: 150px;
            height: 150px;
            margin-top: 50px;
            margin-bottom: 150px;
        }

        h3 {
            margin-top: 32px;
        }

        li {
            list-style: none;
        }
    }
        .section-eagle-fang-dojo {
            width: 30%;
            height: 1000px;
            margin: 20px;
            text-align: center;
            background-color: red;
            color: black;
            border: black 4px solid;
            display: block;
            justify-content: center;

             img {
                 width: 150px;
                 height: 150px;
                 margin-top: 50px;
                 margin-bottom: 150px;
             }

            h3 {
                margin-top: 32px;
            }

            li {
                list-style: none;
            }
        }
    }


    @media (max-width: 767px) {
        .main-dojos {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
    
        .main-dojos section {
          width: 90%;
          max-width: 1250px; /* Ancho máximo en la vista móvil */
        }
      }