body {
    @include fondo-index;
    display: block;
    justify-content: center;

    .navbar-toggler {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }

    .header-index {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .h1 {
            color: white;
            margin: 50px 0 50px 0;
            text-align: center;
        }

        .img-principal-index {
            width: 80%;
            height: 600px;
            overflow: hidden;
            margin-top: 100px;

            .img-suplente {
                width: 80%;
                height: 600px;
                overflow: hidden;
                margin-top: 100px;
                // display: none;
            }
        }
    }

}

.main-index {
    display: flex;
    justify-content: center;
    align-items: center;

    .section-index {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 50px;
        width: 90%;
        height: 600px;
        background-color: #0000002a;

        .index-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 500px;
            background-color: #000000c4;
            color: yellow;
            font-family: sans-serif;
            padding: 16px;
            margin: 0px;
        }
    }
}






// MEDIA QUERY - MOBILE LAST

// IMG PRINCIPAL
@media (max-width: 600px) {
    .img-principal-index {
        width: 80%;
        height: 600px;
        overflow: hidden;
        margin-top: 75px;
        margin-bottom: 75px;
        display: flex;
        justify-content: center;
        align-items: center;

        .imagen-principal {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .index-mobile {
        width: 85%;
        height: 600px;
        background-color: #000000c4;
        color: yellow;
        font-family: sans-serif;
        // padding: 20px;
        // margin-top: 30px;
        overflow: scroll;
    }
}